body {
    // background-color: white !important;
    direction: rtl;
}

.dark body {
    background-color: black !important;
}

.dark {
    .document-driven-page {
        :first-child {
            background-color: #141414 !important;
            border-color: #212121 !important;
            --un-ring-color: #212121 !important;
        }
    }
}

.space-x-3 > :not(template) ~ :not(template) {
    --space-x-reverse: 0 !important;
    margin-left: calc(1rem * var(--space-x-reverse)) !important;
    margin-right: calc(1rem * calc(1 - var(--space-x-reverse))) !important;
}